<html>
    <head>
      <title>Agata's blog</title>
    </head>
    <body>
        <div>
          <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
          <p>published: 19.06.2016, 13:29</p>
          <h4><a href="">My first post</a></h4>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis</p>
        </div>

        <div>
          <p>published: 19.06.2016, 13:31</p>
          <h4><a href="">My second post</a></h4>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis</p>
        </div>
    </body>
</html>
